<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#maincontent" class="to-content" tabindex="1">Menuju ke konten</a>
    <header>
      <nav id="nav">
        <div class="navbar">
          <div class="nav-brand">Resto<span>Hunter</span></div>
          <div class="nav-item">
            <a href="" class="nav-link" tabindex="3">Home</a>
            <a href="#" class="nav-link" tabindex="4">Favorite</a>
            <a href="https://github.com/Lutfi-77" class="nav-link" tabindex="5"
              >About Us</a
            >
          </div>
          <button class="hamburger" tabindex="2">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>
        </div>
      </nav>
    </header>
    <main>
      <section class="hero-section" id="landing">
        <div class="hero-text">
          We Recommend The Best <br />
          Place To Eat
        </div>
      </section>

      <section class="restaurant-section" id="maincontent">
        <h1 class="section-title">Explore Restaurant</h1>
        <div class="resto-list"></div>
      </section>
    </main>
    <footer>Copyright © 2020 - RestoHunter</footer>
  </body>
</html>
