<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <header>
      <nav id="nav">
        <div class="navbar">
          <div class="nav-brand">logo</div>
          <div class="nav-item">
            <a href="" class="nav-link">Home</a>
            <a href="" class="nav-link">Favorite</a>
            <a href="https://github.com/Lutfi-77" class="nav-link">About Us</a>
          </div>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="hero-section">
        <div class="hero-text">
          We Recommend The Best <br />
          Place To Eat
        </div>
      </section>

      <section class="restaurant-section">
        <h1 class="section-title">Explore Restaurant</h1>
        <div class="resto-list"></div>
      </section>
    </main>
    <footer>Copyright © 2020 - RestoHunter</footer>
  </body>
</html>
